* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home,
.services,
.reports,
.contact,
.events,
.support {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content{
  flex-basis: 40%;
}
.image_{
  flex-basis: 60%;
}
.image_ img{
  width: 100%;
  background-size: cover;
}
.functionality{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
  font-weight: 600;
  font-size: 20px;
}
.functionality a{
  text-decoration: none;
  color: black;

}
label{
  display: flex;
  flex-direction: column;
}

/* .header .image_{
  position: absolute;
  right: 0px;
}
.header .content{
  position: absolute;
  left: 10px;
} */
